@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root {
    --primary-color: #1C77C3;
    --secondary-color: #FFFFFF;
    --accent1-color: #F2BB05;
    --accent2-color: #931F1D;

    --heading-font: Roboto, serif;
    --paragraph-font:Roboto, serif;

    --nav-background-color:  #FFFFFF;
    --nav-link-color: #931F1D;
    --nav-hover-link-color: #1C77C3;
    --nav-hover-background-color: #F2BB05;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Rock Salt',Verdana, Tahoma, serif;
    color: var(--primary-color);

}

p{
    padding: 25px;
    color: var(--primary-color);
}

.sociallinks{
    color: var(--nav-link-color);
    text-decoration: none;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
.hero h1, article{
    position: absolute;
}

.hero img, div {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    float: right;
}

h1 {
    position: absolute;
}

article {
    position: absolute;
}

img {
    clear:right;
}