@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root {
    --primary-color: #1C77C3;
    --secondary-color: #FFFFFF;
    --accent1-color: #F2BB05;
    --accent2-color: #931F1D;

    --heading-font: Roboto, serif;
    --paragraph-font:Roboto, serif;

    --nav-background-color:  #FFFFFF;
    --nav-link-color: #931F1D;
    --nav-hover-link-color: #1C77C3;
    --nav-hover-background-color: #F2BB05;
}

.container-top{
    display: flex;
    grid-template-rows: 50px 100px 50px;
    grid-template-columns: 1fr 3fr;
}
.container-description{
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 1fr 1fr 0.5fr;
}
.container-history{
    grid-template-rows: 50px 150px 50px;
    grid-template-columns: 1fr 1fr 1fr;
}
.container-adventure{
    grid-template-rows: 100px 150px 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

img {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    float: right;
}

.logo-img {
    display: flex;
    left: 0px;
    margin: 1rem;
    width: 200px;
    height: auto;
    margin-right: auto;
    border-radius: 10%;
}

.descriprion-img{
    display:inline-block;
              
}

li{
    display:inline;
    float:right;
    border-right: 1px solid #bbb;
    grid-row: 2/3;
    grid-column: 2/5;
}

a{
    display: inline-block;
    padding: 8px;
    background-color: #dddddd;
}
li a{
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
        background-color: #555;
        color: white;
}
li:last-child {
    border-bottom: #555;
    border-right: #555;
  }


h1,h2,h3,h4,h5,h6 {
    font-family: 'Rock Salt',Verdana, Tahoma, serif;
    color: var(--primary-color);

}
.sociallinks a{
    position: relative;
    margin-left: 3px;
    text-decoration: none;
    width: 50px 
} 

.about{
    padding: 25px;
    color: var(--secondary-color);
}
p{
    padding: 25px;
    color:#000;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
.hero h1, article{
    position: absolute;
}


/*





.hero img, div {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    float: right;
}

h1 {
    position: absolute;
    font-size: 2rem;
    font-family: Roboto, serif;
}

article {
    position: absolute;
}

img {
    clear:right;
}

header{
    margin: 1rem;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px #1C77C3;
    max-width: 1000px;
}

.logo img{
    margin: 1rem;
    width: 64px;
    height: auto;

}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
    display:inline;
}

.navigation a{
    display:inline-flex;
    text-align: center;
    color:#1C77C3;
    padding: 10px;
    margin-left: 30px;
    text-decoration: none;
    border-radius: 10%;
    background-color: #dfdf3b; 
    
}
.navigation a:hover {
    color:#931F1D;
    font-weight: 700;
    text-decoration: underline; 
}

nav{
    text-align: center;
   
}

.box {
    display: block;
    border-radius: 2px;
    border-color: #F2BB05;
}
*/