@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root {
    --primary-color: #1C77C3;
    --secondary-color: #FFFFFF;
    --accent1-color: #F2BB05;
    --accent2-color: #931F1D;

    --heading-font: Roboto, serif;
    --paragraph-font:Roboto, serif;

    --nav-background-color:  #FFFFFF;
    --nav-link-color: #931F1D;
    --nav-hover-link-color: #1C77C3;
    --nav-hover-background-color: #F2BB05;
}

.navigation {
    display: block;
    padding: 20px;
    border:#1C77C3;
    border-style: solid;
}
.description{
    display: block;
    padding: 20px;
    border:#1C77C3;
    border-style: solid;
}
.history{
    display: block;
    padding: 20px;
    border:#1C77C3;
    border-style: solid;
}
.adventure{
    display: block;
    padding: 20px;
    border:#1C77C3;
    border-style: solid;
}

/*
h1,h2,h3,h4,h5,h6 {
    font-family: 'Rock Salt',Verdana, Tahoma, serif;
    color: var(--primary-color);

}

p{
    padding: 25px;
    color: var(--primary-color);
}

.sociallinks{
    color: var(--nav-link-color);
    text-decoration: none;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
.hero h1, article{
    position: absolute;
}

.hero img, div {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    float: right;
}

h1 {
    position: absolute;
    font-size: 2rem;
    font-family: Roboto, serif;
}

article {
    position: absolute;
}

img {
    clear:right;
}

header{
    margin: 1rem;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px #1C77C3;
    max-width: 1000px;
}

.logo img{
    margin: 1rem;
    width: 64px;
    height: auto;

}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
    display:inline;
}

.navigation a{
    display:inline-flex;
    text-align: center;
    color:#1C77C3;
    padding: 10px;
    margin-left: 30px;
    text-decoration: none;
    border-radius: 10%;
    background-color: #dfdf3b; 
    
}
.navigation a:hover {
    color:#931F1D;
    font-weight: 700;
    text-decoration: underline; 
}

nav{
    text-align: center;
   
}

.box {
    display: block;
    border-radius: 2px;
    border-color: #F2BB05;
}
*/