@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #1C77C3;
    --secondary-color: #FFFFFF;
    --accent1-color: #F2BB05;
    --accent2-color: #931F1D;

    --heading-font: Roboto, serif;
    --paragraph-font:Roboto, serif;

    --nav-background-color:  #FFFFFF;
    --nav-link-color: #931F1D;
    --nav-hover-link-color: #1C77C3;
    --nav-hover-background-color: #F2BB05;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Rock Salt',Verdana, Tahoma, serif;
    color: var(--primary-color);

}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

header {
    padding: 20px;
    background-color: var(--accent1-color)
}

p{
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}